.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.form-box {
  display: flex;
  width: 40%;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .form-box {
    width: 80%;
  }
}

.input-box {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/* TEXT, DATE AND SELECT INPUT */
input[type="text"],
input[type="date"],
select {
  font-size: 1rem;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  border-radius: 5px;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
}

select {
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 1rem;
}

select:focus {
  background-image: linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

select:hover,
input[type="date"]:hover {
  cursor: pointer;
}

input[type="text"]:focus,
select:focus {
  color: #778586;
  outline: none;
  border: 3px solid #de6b48;
  border-radius: 5px;
}

/* DATEPICKER */
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

/* A few custom styles for date inputs */
input[type="date"] {
  padding: 12px 20px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #778586;
}

input[type="date"]:focus {
  outline: none;
  border: 3px solid #de6b48;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: small;
  margin-bottom: 1.5rem;
}

.button_cont {
  display: flex;
  align-self: center;
}
