@import "../node_modules/normalize.css/normalize.css";

html {
  font-family: "Lato", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

h4 {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

/* TOP NAVBAR CLASSES */
.logo {
  width: 8rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  background-color: #55d6be;
  padding: 0.625rem;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 2vh;
  width: 100%;
}

a.navbar-element {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a.navbar-element:hover {
  color: white;
}

.center-content {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

/* FOOTER CLASSES */
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #55d6be;
  padding: 0.625rem;
}

.footer-mails {
  margin-bottom: 0.5rem;
}

.footer-img {
  width: 1rem;
  padding-right: 0.25rem;
}

a.footer-mails {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
}

a.footer-mails:hover {
  color: white;
}

.footer-title {
  margin-bottom: 0.6rem;
  font-size: 1.17rem;
  font-weight: bold;
}

.footer-copyright {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }
  .navbar-links {
    padding: 1.5rem 0rem 0.5rem;
  }
  .footer {
    margin-top: 3rem;
  }
}
